@charset "utf-8";

@media (min-width:1025px){
nav{
width: 100px;
margin-top: 100px;
line-height: 50px;
text-align: center;
margin-left: 50px;
}

nav > ul{font-size: 20px;}
}
@media (max-width:1024px) and (min-width:769px){
  nav{
    width: 100px;
    margin-top: 100px;
    line-height: 50px;
    text-align: center;
    margin-left: 50px;
    }
    
    nav > ul{font-size: 20px;}
}

@media (max-width:768px) and (min-width:375px){
  nav{width: 50%;}
  nav > ul{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;}
    nav > ul li{
      font-weight: bold;
      transform: translate(10rem, -2.5rem);}
}